mixin project-sm(picture, title, modifier)

	if modifier == 'article--project--1'

		a.project-sm(href="project-1.html")&attributes(attributes)
			img.project-sm__picture(src="img/" + picture, alt="Logo")
			p.project-sm__title= title


	if modifier == 'article--project--2'

		a.project-sm(href="project-2.html")&attributes(attributes)
			img.project-sm__picture(src="img/" + picture, alt="Logo")
			p.project-sm__title= title


	if modifier == 'article--project--3'


		a.project-sm(href="project-3.html")&attributes(attributes)
			img.project-sm__picture(src="img/" + picture, alt="Logo")
			p.project-sm__title= title

	if modifier == 'article--project--4'

		a.project-sm(href="project-4.html")&attributes(attributes)
			img.project-sm__picture(src="img/" + picture, alt="Logo")
			p.project-sm__title= title

						
			