mixin modal(modifier)
  if modifier == 'modal--project'
    .modal#modal--project
      .modal__overlay.js-popup-close
      .modal__content
        a.modal__close.js-popup-close(href="#")
        +article('article--project').modal__article

  if modifier == 'modal--service'
    .modal#modal--service
      .modal__overlay.js-popup-close
      .modal__content
        a.modal__close.js-popup-close(href="#")
        +article('article').modal__article

