include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/menu/menu.pug
include ../blocks/front/front.pug
include ../blocks/project-sm/project-sm.pug
include ../blocks/service-sm/service-sm.pug
include ../blocks/footer/footer.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/project/project.pug
include ../blocks/service/service.pug
include ../blocks/item/item.pug
include ../blocks/map/map.pug
include ../blocks/modal/modal.pug
include ../blocks/article/article.pug
include ../blocks/partners/partners.pug
include ../blocks/contacts/contacts.pug
