mixin project(title, textblock, picture, client, info, href)
  .project.item&attributes(attributes)
    .container
      .row
        .col-lg-8
          a.js-popup-open(href= href)
            h4.project__header= title
          .project__wrapper
            .project__picture
              img.project__img(src="img/" + picture, alt="Logo")
            .project__content
              .project__info
                p.project__info-header Заказчик
                .project__info-content
                  p.project__client.font-weight-bold= client
                  p.project__meta= info
              p= textblock
    a.js-popup-open.item__link(href= href)