h3 Руководство модернизацией вычислительной инфраструктуры под ГИС
.article__project
	.article__project-picture
		img.article__project-image(src="img/rtc-it.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 РТК Цифровые технологии
		p.mb-0 Москва, 2020
		
.article__content
	p Для миграции информационных систем в составе одной из ГИС поставлена задача создания единой государственной облачной платформы, которая должна решить следующие задачи:

	ul
		li повышение доступности информационных систем;
		li повышение надежности хранения данных;
		li минимизация риска потери данных.


	h5 Решение

	p Обследована существующая инфраструктура ЦОД заказчика, предложены различные варианты развития, выбраны технические решения для повышения доступности информационных систем. Выполнен авторский надзор за выполняемыми работами.

	
	p Оборудование:
	ul

		li хранения данных – дисковые массивы Huawei семейства OceanStor;
		li вычислительное – стоечные серверы Huawei;
		li сети передачи данных – оборудование Huawei семейства CloudEngine;
		li сети хранения данных – оборудование Lenovo;
		li резервное копирование – оборудование HPE MSL.

		
	p Программное обеспечение:
	ul

		li виртуализация – программное обеспечение VMware;
		li резервное копирование – Backup and Replication производства Veeam.
	

	h5 Результат

	p Выполнено техно-рабочее проектирование, разработан комплект документации в составе 12-ти документов.		