h3 Проектирование инфраструктуры РЦОД
.article__project
	.article__project-picture
		img.article__project-image(src="img/project-1.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 Коммерческий банк
		p.mb-0 Москва, 2019
		
.article__content
	p Для минимизации времени простоя основных систем, а также обеспечения сохранности данных при возникновении ситуации частичного или полного отказа основного ЦОД была поставлена задача создания распределенной ИТ-инфраструктуры, которая должна решить следующие задачи:

	ul
		li повышение доступности систем процессинга запросов и клиринга расчетов банка;
		li повышение надежности хранения данных;
		li организация распределенной обработки и хранения данных;
		li возможность возобновления работы банковских сервисов в случае аварии в основном ЦОД;
		li минимизация риска потери данных.

	h5 Решение

	p Проведен аудит существующей инфраструктуры заказчика, выполнен анализ возможных вариантов реализации ЦОД, выбраны технические решения повышения доступности банковских приложений.

	
	p Оборудование:
	ul
		li хранения данных – дисковые массивы Hitachi семейства VSP;
		li вычислительное – стоечные серверы и блейд-серверы HPE;
		li сети хранения данных – оборудование HPE SAN директоры;
		li резервное копирование – оборудование HPE StoreOnce.

		
	p Программное обеспечение:
	ul
		li резервное копирование – Data Protector производства Micro Focus.

	h5 Результат

	p Выполнено техно-рабочее проектирование, разработана пояснительную записка, схемы подключения оборудования, программа и методика испытаний.