h3.mb-10 Внедрение
.article__service
	.article__service-picture
		img.article__service-image(src="img/service-4.svg", alt="Picture")
	h6.font-weight-normal Высокое качество внедрения вам обеспечат двойной контроль в виде предварительных и приемочных испытаний, а также опытная эксплуатация между ними.
.article__content
	p При внедрении разнородных программно-технических средств на стыке между ними возникают технические риски и сложности. Поэтому наши инженеры специализируются в 2-3 смежных технических направлениях с подтверждением своих знаний сертификацией и не ориентированы на решения конкретных производителей. Такая практика, устоявшиеся связи с сервисными подразделениями производителей и доступ к технической документации позволяют нам качественно и быстро развертывать самые сложные технические решения.

	p Профильные технологии:
	ul
		li Вычислительные платформы (серверы стандартной архитектуры, RISC-архитектуры)
		li Системы и сети хранения данных (SAN, NAS)
		li Сети передачи данных (LAN, WAN, WLAN)
		li Виртуализация (bare metal, VDI, storage, network)
		li Облачные платформы (IaaS, PaaS, SaaS)
		li Кластерные системы (HA, метро-, гео-)
		li Резервирование данных (backup, дедупликация, WAN-оптимизация)
		li Системное и служебное ПО (ОС, инфраструктура Microsoft, Linux)
		li Системы мониторинга и управления (SNMP, WMI, ITSM)
		li Базовые инфраструктурные сервисы (AD, DNS, DHCP)
		li Коммуникационные сервисы (VOiP, UC)

		

	h5 Примеры
	ul
		li 
			p Московский городской фонд обязательного медицинского страхования (МГФОМС), г. Москва — в 2015 г. была реализована катастрофоустойчивая конфигурация ядра комплекса информационных систем АИС ОМС с нулевыми значениями показателей RTO, RPO.
				a.d-block.mt-15(href="#") Подробнее
		li 
			p АО «НПФ Сбербанка», г. Москва — в 2016 г. было внедрено архивное хранилище баз данных, соответствующее требованиям регулятора в части деятельности пенсионных фондов.
				a.d-block.mt-15(href="#") Подробнее

		li 
			p Центральный банк Российской Федерации, г. Москва — в 2018 г. было выполнено внедрение центрального распределённого сегмента Частного облака Банка России в составе двух центров обработки данных в г. Москва, работающих в катастрофоустойчивом режиме.
				a.d-block.mt-15(href="#") Подробнее