h3.mb-10 Эксплуатация и сопровождение
.article__service
	.article__service-picture
		img.article__service-image(src="img/service-5.svg", alt="Picture")
	h6.font-weight-normal Отлаженные процессы, эксплуатационная документация и квалифицированные ресурсы являются залогом непрерывной эксплуатации технических решений.
.article__content
	p Мы предлагаем нашим заказчикам готовый, выстроенный процесс управления эксплуатацией, включающий управление инцидентами и изменениями.

	p Классическая трехуровневая модель службы технической поддержки и наличие горизонтальных контактов со службами технической поддержки производителей обеспечивают экономически-эффективное решение эксплуатационных задач.

	p Круглосуточная служба технической поддержки в совокупности с собственной системой мониторинга минимизирует время реакции на критические события и, как следствие, время восстановления после сбоя.

	

	p Профильные технологии:
	ul
		li Вычислительные платформы (серверы стандартной архитектуры, RISC-архитектуры)
		li Системы и сети хранения данных (SAN, NAS)
		li Сети передачи данных (LAN, WAN, WLAN)
		li Виртуализация (bare metal, VDI, storage, network)
		li Облачные платформы (IaaS, PaaS, SaaS)
		li Кластерные системы (HA, метро-, гео-)
		li Резервирование данных (backup, дедупликация, WAN-оптимизация)
		li Системное и служебное ПО (ОС, инфраструктура Microsoft, Linux)
		li Системы мониторинга и управления (SNMP, WMI, ITSM)
		li Базовые инфраструктурные сервисы (AD, DNS, DHCP)
		li Коммуникационные сервисы (VOiP, UC)

		

	h5 Примеры
	ul
		li 
			p АО «Мосводоканал» (МВК), г. Москва – с 2014 по 2016 гг. оказывались услуги по технической поддержке центра обработки данных, обеспечивающего катастрофоустойчивость информационных систем.
				a.d-block.mt-15(href="#") Подробнее
		li 
			p Управление по делам Мэра и Правительства Москвы, г. Москва – в 2015-2016 г. оказывались услуги по технической поддержке инфраструктуры хранения данных.

				a.d-block.mt-15(href="#") Подробнее

		li 
			p Московский городской фонд обязательного медицинского страхования (МГФОМС), г. Москва – с 2016 г. по настоящее время оказываются услуги по технической поддержке ядра катастрофоустойчивого ЦОД в части инфраструктуры хранения данных.

				a.d-block.mt-15(href="#") Подробнее