h3 Развитие корпоративной вычислительной сети и IP-телефонии в комплексе административных зданий
.article__project
	.article__project-picture
		img.article__project-image(src="img/project-6.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 Водная компания
		p.mb-0 Москва, 2017
		
.article__content
	p В рамках работ над проектом были решены следующие задачи:

	ul
		li обеспечение доступа к корпоративной телефонной связи для всех абонентов комплекса из шести административных зданий заказчика;
		li обеспечение вариативности для соединения абонентов с операторами, предоставляющими услуги городской, междугородной и международной связи;
		li замена устаревшего оборудования телефонной связи в комплексе административных зданий;
		li замена устаревшего оборудования корпоративной вычислительной сети в комплексе административных зданий;
		li обеспечение резервирования маршрутизации трафика Ip телефонии;
		li обеспечение стыковки IP телефонии комплекса административных зданий с подсистемами коллабораций других подразделений заказчика;
		li обеспечение единой системы мониторинга состояния корпоративной сети и сети Ip-телефонии;
		li расширение функциональных возможностей Ip телефонии.

	h5 Решение

	p В рамках работ была выполнена поставка оборудования, модернизация существующей локальной вычислительной сети, структурированной кабельной сети, телефонии, а также разработана рабочая документация на систему.
	
	p Оборудование:
	ul
		li телефонная станция – Cisco CUCM;
		li голосовой шлюз Cisco VG320-EM;
		li IP-Телефоны - Cisco CP-3905, Cisco CP-8865, Cisco CP-8865NR, Cisco CP-8865-W;
		li пульт диспетчерский – MARCONI;
		li программное обеспечение расширения функционала телефонной станции – Aurus;
		li коммутаторы ЛВС – Cisco Catalyst;
		li вычислительные системы -  Cisco UCS.
		


	h5 Результат

	p Единая корпоративная система IP-телефонии, отвечающая текущим и перспективным потребностям заказчика.