h3 Разработка рабочей документации для создания вычислительной инфраструктуры ЦОД
.article__project
	.article__project-picture
		img.article__project-image(src="img/project-3.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 ФАУ Главгосэкспертиза России
		p.mb-0 Москва, 2018
		
.article__content
	p Разработан техно-рабочий проект на создание вычислительной инфраструктуры ЦОД. Спроектированная инфраструктура решала следующие задачи:
	ul
		li увеличение вычислительных мощностей информационной инфраструктуры;
		li увеличение ёмкости и производительности ресурсов хранения данных;
		li модернизация сети передачи данных;
		li масштабирование сети хранения данных;
		li обеспечение резервирования и восстановления корпоративных данных.

	h5 Решение

	p Разработан комплект документации согласно комплексу стандартов ГОСТ 34. В состав разработанной документации входят:
	ul
		li пояснительная записка к техно-рабочему проекту;
		li спецификация оборудования;
		li план расположения оборудования и проводок;
		li программа и методика испытаний.

	h5 Результат

	p Сформирован комплект документации на создание вычислительной инфраструктуры ЦОД.