h3 Управление проектом построения информационно-технологической инфраструктуры РЦОД и КСИБ
.article__project
	.article__project-picture
		img.article__project-image(src="img/project-3.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 ПАО «Татфондбанк»
		p.mb-0 Казань, 2014 – 2016
		
.article__content

	h5 Задача

	p Для повышения отказоустойчивости информационных систем Банка и удовлетворения требованиям информационной безопасности было принято решение организовать резервный центр обработки данных и комплексную систему информационной безопасности. Ввиду отсутствия экспертизы по реализации подобных проектов внутри Банка, был проведён закрытый конкурс по выбору подрядчика для управления проектом. По итогам конкурса была выбрана наша компания благодаря представленному опыту и широкому спектру компетенций сотрудников.

	h5 Решение

	p Для реализации проекта был организован ряд конкурсов по выбору подрядчиков, по итогам которых проектировщиками были выбраны компании ЗАО «Инфосистемы Джет» и ЗАО «Ай-Теко».
	
	p Оборудование:
	ul
		li хранения данных — семейств VPLEX производства EMC; MSA производства HP;
		li вычислительное — семейств BL производства HP;
		li сети передачи данных — семейств Nexus, ASR, Catalyst производства Cisco Systems;
		li сети хранения данных — семейства 6xx производства Brocade;
		li спектрального уплотнения каналов — семейства FSP производства ADVA.

	p Программное обеспечение:
	ul
		li виртуализация — семейства ESX производства VMware;
		li операционные системы — семейства Windows Server производства Microsoft;
		li резервное копирование — семейства NetBackup Utility производства Symantec;
		li кластеризация — семейства HA производства VMware, AlwaysOn производства Microsoft.	

	h5 Результат

	p В 2014-м году был выполнен анализ бизнес-систем (BIA) и разработаны требования к параметрам RTO, RPO. В 2015-м году было выполнено проектирование технических решений ИТИ РЦОД и КСИБ. В 2016-м году запущен первый этап реализации.