h3 Создание резервного распределенного центра обработки данных
.article__project
	.article__project-picture
		img.article__project-image(src="img/project-4.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 ООО «ИНВИТРО»
		p.mb-0 Москва, 2018
		
.article__content
	p Для минимизации времени простоя основных систем, а также обеспечения сохранности данных при возникновении ситуации частичного или полного отказа основного ЦОД была поставлена задача создания распределенного центра обработки данных, который должен решить следующие задачи:
	ul
		li Повышение доступности ИТ сервисов компании ООО «Инвитро»;
		li Повышение надежности хранения данных;
		li Организация распределенной обработки и хранения данных;
		li Возможность возобновления работы ИТ сервисов в случае аварии в основном ЦОД;
		li Минимизация риска потери данных;
		li Возможность использования ресурсов ЦОД в качестве среды разработки и тестирования.



	h5 Решение

	p Проведен аудит существующей инфраструктуры заказчика, выполнен анализ возможных подходов к созданию ЦОД и вариантов технологического наполнения, при этом выбраны наиболее оптимальные с точки зрения сохранения инвестиций решения построения ЦОД позволяющие обеспечить практически бесшовный переход к целевой инфраструктуре ЦОД – РЦОД.
	
	p Оборудование:
	ul
		li хранения данных – дисковые массивы HPE семейства 3PAR;
		li вычислительное – стоечные серверы и блейд-серверы HPE;
		li сети передачи данных – оборудование Cisco Nexus;
		li балансировки нагрузки - Citrix NetScaler MPX.

		
	p Программное обеспечение:
	ul
		li виртуализация – программное обеспечение VMware;
		li операционные системы – семейства Windows Server производства Microsoft;
		li резервное копирование – Backup and Replication производства Veeam.

	h5 Результат

	p Выполнено техно-рабочее проектирование, разработана спецификация закупаемого оборудования и программного обеспечения, сформированы требования к инженерным системам РЦОД и рекомендации по обучению специалистов заказчика.