h3 Реализация архивного хранения баз данных
.article__project
	.article__project-picture
		img.article__project-image(src="img/project-13.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 АО «НПФ Сбербанка»
		p.mb-0 Москва, 2016
		
.article__content
	p В целях исполнения положения ЦБ «О порядке создания, ведения и хранения баз данных, содержащих информацию об имуществе, обязательствах негосударственного пенсионного фонда и их движении, а также случаях передачи на хранение в Банк России резервных копий баз данных» было принято решение о создании архивного хранилища резервных копий баз данных.
	


	h5 Решение

	p Перед началом работ была проведена экспертиза существующих систем управления базами данных и резервного копирования с целью максимального сохранения инвестиций в существующие решения и выбора оптимальной архитектуры платформ.
	
	p Оборудование:
	ul
		li хранения данных – дисковые массивы NetApp;
		li вычислительное – блейд-серверы Dell;
		li сети передачи данных – оборудование производства Cisco Systems;
		li резервное копирование – ленточная библиотека Quantum Scalar;
		
	p Программное обеспечение:
	ul
		li виртуализация – семейства Hyper-V производства Microsoft;
		li операционные системы – семейства Windows Server производства Microsoft;
		li резервное копирование – CommVault;
		li СУБД – Microsoft SQL Server.	

	h5 Результат

	p На базе геораспеделенной катастрофоустойчивой ИТ-инфраструктуры Заказчика, создано архивное хранилище баз данных, полностью соответствующее требованиям регулятора. Разработан комплект рабочей документации и проведено обучение специалистов заказчика.