h3 Техническая поддержка вычислительной инфраструктуры
.article__project
	.article__project-picture
		img.article__project-image(src="img/11-mediascope.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 Медиаскоп
		p.mb-0 Москва, 2019 – 2020
		
.article__content
	p Обеспечение непрерывного функционирования вычислительной инфраструктуры заказчика.

	h5 Решение

	p В 2019 году на основании открытой закупочной процедуры был заключен договор на техническое обслуживание в режиме 9х5 (частично – круглосуточно) в рамках которого заказчику оказаны услуги:

	ul
		li восстановление функциональности оборудования в случаях возникновения неисправностей и сбоев в его работе;
		li консультационная поддержка;
		li обновление микропрограммного обеспечения оборудования.

	p Оборудование:
	ul
		li хранения данных – дисковые массивы HP EVA;
		li вычислительное оборудование – серверы HP.



	h5 Результат

	p Оказаны услуги по техническому обслуживанию вычислительной инфраструктуры, за год было устранено 25 инцидентов, все в рамках договорных SLA.