h3 Модернизация и конфигурирование системы резервного копирования распределенного ЦОД
.article__project
	.article__project-picture
		img.article__project-image(src="img/project-КАРТИНКА.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 АО «Мосводоканал»
		p.mb-0 Москва, 2017
		
.article__content
	p В следствие увеличения количества корпоративных информационных систем и роста объема данных возникла необходимость масштабирования существующей распределенной системы хранения данных МВК.

	h5 Решение

	p В рамках работ выполнена проверка актуального состояния компонентов распределенной системы резервного копирования, осуществлена сборка, монтаж, коммутация комплекта модернизации распределенной системы резервного копирования на площадке плечо №1 и плечо №2 распределенного центра обработки данных. Разработан комплект рабочей документации включая регламент резервного копирования и восстановления данных. Произведена инвентаризация информационных систем, резервирование которых не выполнялось с последующим включением их в расписание резервного копирования.
	
	p Оборудование:
	ul
		li EMC Data Domain


	h5 Результат

	p Модернизированная распределенная система резервного копирования полностью соответствует актуальным и перспективным потребностям Заказчика.