h3 Техническая поддержка резервного центра обработки данных
.article__project
	.article__project-picture
		img.article__project-image(src="img/project-16.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 АО «Мосводоканал» 
		p.mb-0 Москва, 2014 – 2016
		
.article__content
	p В 2014-м году был построен резервный центр обработки данных, обеспечивающий катастрофоустойчивость информационных систем МВК. Ввиду технологической новизны реализованных решений (использование архитектуры active-active с интеграцией виртуальной среды), Заказчик ежегодно выбирает подрядчика на основе открытого конкурса для оказания услуг технической поддержки.
	


	h5 Решение

	p Поддержка выполняется в режиме 9х5 со временем устранения неисправности на следующий рабочий день.
	
	p Оборудование:
	ul
		li хранения данных – семейств VNX, VPLEX, DataDomain производства EMC;
		li вычислительное – семейств PowerEdge производства Dell;
		li сети передачи данных – семейств Nexus, Catalyst производства Cisco Systems;
		li сети хранения данных – семейства 6xx производства Brocade;
		li спектрального уплотнения каналов – семейства FSP производства ADVA.
		
	p Программное обеспечение:
	ul
	
		li виртуализация – семейства ESX производства VMware;
		li операционные системы – семейства Windows Server производства Microsoft;
		li резервное копирование – семейства NetBackup Utility производства Symantec, семейства Avamar производства EMC;
		li кластеризация – семейства HA, DRS производства VMware.

	h5 Результат

	p Услуги по поддержке оказываются в срок и без замечаний.