mixin article(modifier)
  .article&attributes(attributes)

    if modifier == 'article--project--1'
      include article--project--1

    if modifier == 'article--project--2'
      include article--project--2

    if modifier == 'article--project--3'
      include article--project--3

    if modifier == 'article--project--4'
      include article--project--4

    if modifier == 'article--project--5'
      include article--project--5

    if modifier == 'article--project--6'
      include article--project--6

    if modifier == 'article--project--7'
      include article--project--7

    if modifier == 'article--project--8'
      include article--project--8

    if modifier == 'article--project--9'
      include article--project--9

    if modifier == 'article--project--10'
      include article--project--10

    if modifier == 'article--project--11'
      include article--project--11

    if modifier == 'article--project--12'
      include article--project--12

    if modifier == 'article--project--13'
      include article--project--13

    if modifier == 'article--project--14'
      include article--project--14

    if modifier == 'article--project--15'
      include article--project--15

    if modifier == 'article--project--16'
      include article--project--16

    if modifier == 'article--project--17'
      include article--project--17



    if modifier == 'article--service--1'
      include article--service--1

    if modifier == 'article--service--2'
      include article--service--2

    if modifier == 'article--service--3'
      include article--service--3

    if modifier == 'article--service--4'
      include article--service--4

    if modifier == 'article--service--5'
      include article--service--5
