h3 Техническая поддержка вычислительной инфраструктуры
.article__project
	.article__project-picture
		img.article__project-image(src="img/13-permmotor.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 ОДК «Авиадвигатель»
		p.mb-0 Пермь, 2020
		
.article__content
	p Обеспечение непрерывного функционирования вычислительной инфраструктуры заказчика.

	h5 Решение

	p В 2020 году на основании открытой закупочной процедуры был заключен договор на техническое обслуживание в режиме 9х5 в рамках которого заказчику оказаны услуги:

	ul

		li восстановление функциональности оборудования в случаях возникновения неисправностей и сбоев в его работе;
		li консультационная поддержка;
		li обновление микропрограммного обеспечения оборудования.

	
	p Оборудование:
	ul
		
		li хранения данных – дисковые массивы EMC VPLEX, VNX;
		li вычислительное оборудование – серверы IBM, Lenovo;
		li резервного копирования – ленточные библиотеки, ПО IBM.


	h5 Результат

	p Оказаны услуги по техническому обслуживанию вычислительной инфраструктуры, за год было устранено 34 инцидента, все в рамках договорных SLA.