h3 Технологическая экспертиза проектов развития ИТ-инфраструктуры
.article__project
	.article__project-picture
		img.article__project-image(src="img/project-12.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 АО «Мосводоканал»
		p.mb-0 Москва, 2016 – 2017
		
.article__content
	p Для повышения эффективности реализации инвестиционной программы в области ИТ-инфраструктуры и качества реализации отдельных проектов заказчиком были поставлены следующе задачи:

	ul
		li анализ текущего состояния ИТ-инфраструктуры;
		li технический анализ портфеля проектов, бюджетов и план-графиков их реализации, взаимосвязей и зависимостей между проектами;
		li технический анализ увязки текущих проектов между собой и их соответствие ИТ-политике;
		li углубление проработки на стадии постановки задачи – разработки ТЗ;
		li контроль соответствия результатов проектов и ТЗ.

	h5 Решение

	p Был заключен контракт на годовое обслуживание в рамках которого заказчику были оказаны следующие услуги:
	ul
		li анализ предложений и выработка рекомендаций по формированию политики в области ИТ-инфраструктуры в привязке к бизнес приложениям;
		li анализ технических заданий на предмет соответствия их ИТ-политике, непротиворечивости требованиям смежных эксплуатируемых, внедряемых и планируемых к внедрению систем;
		li анализ проектной документации, разработанной подрядчиками;
		li проведение регулярных внутренних совещаний по тематике развития и модернизации ИТ инфраструктуры;
		li участие в совещаниях с представителями подрядчиков;
		li участие в приемке систем от подрядчиков;
		li выработка методологических и технологических рекомендаций;
		li участие в формировании планов развития и модернизации ИТ-инфраструктуры;
		li координация работы подразделений в комплексных проектах;
		li технический анализ увязки текущих проектов между собой и их соответствие ИТ-политике.
			
	

	h5 Результат

	p Обеспечена корреляция ИТ-проектов ИТ-политике и фактическим потребностям заказчика. Исключено дублирование реализации потребностей в рамках проектов различных подразделений и систем. Качественное выполнение работ позволило продлить контракт на 2017г.