h3 Создание надежной и высокопроизводительной корпоративной сети в здании заказчика
.article__project
	.article__project-picture
		img.article__project-image(src="img/project-7.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 Федеральное экспертное учреждение в области строительства
		p.mb-0 Москва, 2017
		
.article__content

	p При переезде в новое офисное здание перед заказчиком встала задача формирования внутри здания надежной и высокопроизводительной среды передачи данных. Мы осуществили поставку оборудования и выполнили работы по планированию, а также монтажные, коммутационные и пуско-наладочные работы по внедрению оборудования для организации корпоративной вычислительной сети.

	h5 Решение

	p Была выполнена поставка оборудования, разработан технорабочий проект на систему и осуществлены работы по запуску оборудования.

	p Оборудование:
	ul
		li Уровень ядра - Коммутаторы HPE FlexFabric 5940;
		li Уровень доступа - Коммутаторы HPE FlexNetwork 5510 HI;
		li Для организации защищенного доступа пользователей к ресурсам КВС используется система контроля доступа HPE ClearPass.
	


	h5 Результат

	p По итогам работ внутри офисного здания была сформирована единая транспортная среда, обеспечивающая информационный обмен между подсистемами Заказчика. 