mixin article(modifier)
  .article&attributes(attributes)

    if modifier == 'article--project--1'
      include article--project--1

    if modifier == 'article--project--2'
      include article--project--2

    if modifier == 'article--project--3'
      include article--project--3

    if modifier == 'article--project--4'
      include article--project--4





    if modifier == 'article--service--1'
      include article--service--1

    if modifier == 'article--service--2'
      include article--service--2

    if modifier == 'article--service--3'
      include article--service--3

    if modifier == 'article--service--4'
      include article--service--4

    if modifier == 'article--service--5'
      include article--service--5
