h3 Техническое обслуживание сетевого хранилища
.article__project
	.article__project-picture
		img.article__project-image(src="img/project-КАРТИНКА.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 ГБУ Финансово-хозяйственное управление Мэрии Москвы
		p.mb-0 Москва, 2016 – 2017
		
.article__content

	h5 Задача

	p Обеспечение непрерывного функционирования сетевого хранилища заказчика.

	h5 Решение

	p В 2016 году на основании открытой закупочной процедуры был заключен договор на техническое обслуживание в режиме 8х5 в рамках которого заказчику оказаны услуги:
	ul
		li консультационная поддержка;
		li восстановление функциональности оборудования в случаях возникновения неисправностей и сбоев в его работе;
		li ежеквартальные профилактические визиты специалистов исполнителя на площадку размещения оборудования для проведения профилактических работ;
		li изменение настроек оборудования, внесение изменений в конфигурацию;
		li стыковка с новым оборудованием;
		li обновление версии установленного на оборудовании ПО.

	
	p Оборудование:
	ul
		li хранения данных – дисковый массив EMC VNX;
		
	p Программное обеспечение:
	ul
		li виртуализация – программное обеспечение VMware;
		li операционные системы – семейства Windows Server производства Microsoft;
		li резервное копирование – Backup and Replication производства Veeam.	

	h5 Результат

	p Оказаны услуги по техническому обслуживанию сетевого хранилища, в рамках оказания услуги заказчику предоставлялась ежеквартальная отчетность с указанием подробной информации о выполненных в рамках отчетного периода работах. В 2017 году был заключен аналогичный договор на техническое обслуживание.