h3 Создание частного облака крупного российского банка
.article__project
	.article__project-picture
		img.article__project-image(src="img/project-1.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 Крупный банк Российской Федерации
		p.mb-0 Москва, 2018
.article__content
	p В соответствии со стратегией ИТ крупного российского банка на 2016 — 2020 годы, перед банком поставлены задачи:
	ul

		li До 2021 года сократить сроки предоставления инфраструктурных и платформенных ресурсов, в том числе архитектурно сложных, до 1 рабочего дня;

		li В срок до 2021 года повысить эффективность использования (утилизацию) оборудования и инфраструктурного ПО с 15-25% до 70-75;

		li До 2021 года сократить трудозатраты на выполнение рутинных работ по масштабированию приложений на 90%;

		li До 2021 года повысить киберустойчивость за счёт автоматического предоставления для всех облачных сред программно-определяемых межсетевых экранов;

		li До 2021 года повысить эффективность организационного, физического и технического контролей за счёт уменьшения кол-ва сегментов с 183 штук до 21 (3 сегмента в каждом из 7 ЦОД);

		li До 2021 года повысить эффективность организационного, физического и технического контроля за счёт консолидации ресурсов и персонала 91 ЦОД в 7 ЦОД;

		li До 2021 года сократить эксплуатационные затраты на ИТ-инфраструктуру за счёт уменьшения кол-ва оборудования с более 6000 серверов до 1480 серверов с одновременным повышением эффективности использования оборудования;

		li До 2021 года повысить надежность и доступность инфраструктуры с 98,38% — 99,92% до 99,59 — 99,99%.


	h5 Решение
	p В крайне сжатые сроки был разработан комплект технической и рабочей документации на создание частного облака, а также выполнено внедрение центрального распределенного сегмента комплекса хранения обработки и передачи данных.
	p Оборудование:
	ul
		li хранения данных – дисковые массивы Huawei OceanStor;
		li вычислительное – блейд-серверы Huawei;
		li сети передачи данных – оборудование Huawei CloudEngine;

	p Программное обеспечение:
	ul
		li виртуализация — программное обеспечение VMware, включающее: vSphere, vCenter Server, NSX, vRealize Operations Manager, vRealize Automation;
		li операционные системы — семейства Windows Server производства Microsoft;
		li резервное копирование — Backup and Replication производства Veeam.

	h5 Результат
	p Созданная инфраструктура включает два основных отказо-катастрофоустойчивых ЦОД, работающих в режиме «активный — активный» и размещенных в городе Москве. Заказ ИТ-сервисов полностью автоматизирован и осуществляется посредством портала самообслуживания.
	