h3 Выполнение работ по модернизации аппаратно-программного комплекса серверной инфраструктуры
.article__project
	.article__project-picture
		img.article__project-image(src="img/project-2.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 ГУП «Мосгортранс»
		p.mb-0 Москва, 2018
		
.article__content

	h5 Задача

	p Обеспечение потребности в хранении большого объёма данных Службы информационных технологий и связи ГУП "Мосгортранс"


	h5 Решение

	p В рамках исполнения Государственного контракта выполнены работы по поставке, монтажу и пуско-наладке системы хранения данных БУЛАТ.
	

	h5 Результат

	p Результатом работ является установленный и настроенный дисковый массив, подготовленный для работы с инфраструктурой Заказчика и функционирующий в соответствии с характеристиками, заявленными производителем оборудования.