h3 Проектирование и внедрение распределённого центра обработки данных
.article__project
  .article__project-picture
    img.article__project-image(src="img/project-1.png", alt="Logo")
  .article__project-info
    p.article__project-info-header Заказчик
    p.font-weight-bold.mb-0.mb-sm-5 Московский городской фонд обязательного медицинского страхования (МГФОМС)
    p.mb-0 Москва, 2014 – 2015
.article__content
  p Для снижения риска останова систем и потери данных МГФОМС принято решение построить распределённый центр обработки данных. Работы выполнялись в два этапа — в 2014-м г. выполнено проектирование, в 2015-м г. осуществлены работы по запуску системы. Выбор исполнителя проводился на основании открытых конкурсных процедур.
  h5 Решение
  p Был спроектирован РЦОД с распределённым хранением данных в режиме active-active с распределённой СУБД Oracle средствами RAC (Real Application Cluster).
  p Оборудование:
  ul
    li хранения данных – семейств V-MAX, VNX, VPLEX производства EMC; Storwize производства IBM;
    li вычислительное – семейств Power, BladeCenter производства IBM;
    li сети передачи данных – семейств Nexus, ISR, Catalyst производства Cisco Systems;
    li сети хранения данных – семейства 6xx производства Brocade;
    li спектрального уплотнения каналов – семейства FSP производства ADVA.
  p Программное обеспечение:
  ul
    li виртуализация – семейства PowerVM производства IBM;
    li операционные системы – семейства AIX производства IBM;
    li резервное копирование – семейства Avamar производства EMC;
    li кластеризация – семейства Real Application Cluster производства Oracle.
  h5 Результат
  p Проектирование и внедрение проектных решений было успешно выполнено в 2014-м и 2015-м годах, соответственно.