h3 Разработка рабочей документации и авторский надзор в рамках проекта по миграции информационной инфраструктуры банка
.article__project
  .article__project-picture
    img.article__project-image(src="img/project-8.png", alt="Logo")
  .article__project-info
    p.article__project-info-header Заказчик
    p.font-weight-bold.mb-0.mb-sm-5 ЗАО «Америабанк»
    p.mb-0 Ереван, Республика Армения, 2017
    
.article__content

  h5 Задача
  
  p В рамках программы повышения доступности информационных систем, банк осуществил консолидацию вычислительных мощностей из арендованного центра обработки данных и собственного ЦОД, имеющего ограничения к масштабированию, в новый собственный ЦОД, отвечающей перспективным потребностям банка.
 
  h5 Решение

  p Был разработан комплект рабочей документации, включающей план миграции информационных систем, схемы размещения оборудования в целевом ЦОД и схемы коммутации. Также, был осуществлен авторский надзор за выполняемыми работами.
  
  p Оборудование:
  ul
    li хранения данных — семейств 3PAR производства HPE; Storwize производства IBM;
    li вычислительное — семейства BladeCenter производства IBM; DL производства HPE;
    li сети передачи данных — семейств ASA, Catalyst производства Cisco Systems;

  p Программное обеспечение:
  ul
      
    li виртуализация — семейства Hyper-V производства Microsoft;
    li операционные системы — семейства Windows Server производства Microsoft;

  h5 Результат

  p Работы по миграции проведены в срок, согласно разработанному плану, ограничение предоставления ИТ-услуг было сведено к минимум и возникало только в рамках предусмотренных планом окон.