h3 Модернизация корпоративной вычислительной сети
.article__project
	.article__project-picture
		img.article__project-image(src="img/logotip-fss.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 Фонд социального страхования Российской Федерации
		p.mb-0 Москва, 2019
		
.article__content
	p В рамках концепции внедрений новых программных сервисов у Заказчика возникла необходимость в модернизации локальной вычислительной сети здания. Целями модернизации являлись:

	ul
		li увеличение общей производительности сетевой инфраструктуры за счет перехода на магистральные соединения 10 Гбит/с;
		li повышение уровня отказоустойчивости сетевой инфраструктуры;
		li подготовка инфраструктуры к внедрению сервисов, использующих технологию PoE;
		li внедрение решений по обеспечению безопасного доступа пользователей в сеть Интернет;
		li замена устаревшего, снятого с производства оборудования.

	h5 Решение

	p Была произведена поставка оборудования, подготовлена необходимая документация, выполнено внедрение решения.
	
	p Оборудование:
	ul
		
		li уровень доступа - стеки коммутаторов Cisco Catalyst 9300;
		li компонент защиты и контроля WEB-трафика - Cisco Web Security Appliance S395;
		li компонент управления защитой контента - Cisco Security Management Appliance M195.

			

	h5 Результат

	p В результате работ по модернизации была создана универсальная, производительная и отказоустойчивая сетевая инфраструктура, соответствующая всем требованиям для дальнейшего развития информатизации производственного процесса Заказчика.