h3 ЗАГОЛОВОК
.article__project
	.article__project-picture
		img.article__project-image(src="img/project-КАРТИНКА.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 ЗАКАЗЧИК
		p.mb-0 Москва, 2018
		
.article__content
	p ААААААААААААААА
	ul


	h5 Решение

	p 
	
	p Оборудование:
	ul
		
	p Программное обеспечение:
	ul
	

	h5 Результат

	p 