mixin article(modifier)
  .article&attributes(attributes)
    if modifier == 'article--project'
      h3 Проектирование и внедрение распределённого центра обработки данных
      .article__project
        .article__project-picture
          img.article__project-image(src="img/project-1.png", alt="Logo")
        .article__project-info
          p.article__project-info-header Заказчик
          p.font-weight-bold.mb-0.mb-sm-5 Московский городской фонд обязательного медицинского страхования (МГФОМС)
          p.mb-0 Москва, 2014 – 2015
      .article__content
        p Для снижения риска останова систем и потери данных МГФОМС принято решение построить распределённый центр обработки данных. Работы выполнялись в два этапа — в 2014-м г. выполнено проектирование, в 2015-м г. осуществлены работы по запуску системы. Выбор исполнителя проводился на основании открытых конкурсных процедур.
        h5 Решение
        p Был спроектирован РЦОД с распределённым хранением данных в режиме active-active с распределённой СУБД Oracle средствами RAC (Real Application Cluster).
        p Оборудование:
        ul
          li хранения данных – семейств V-MAX, VNX, VPLEX производства EMC; Storwize производства IBM;
          li вычислительное – семейств Power, BladeCenter производства IBM;
          li сети передачи данных – семейств Nexus, ISR, Catalyst производства Cisco Systems;
          li сети хранения данных – семейства 6xx производства Brocade;
          li спектрального уплотнения каналов – семейства FSP производства ADVA.
        p Программное обеспечение:
        ul
          li виртуализация – семейства PowerVM производства IBM;
          li операционные системы – семейства AIX производства IBM;
          li резервное копирование – семейства Avamar производства EMC;
          li кластеризация – семейства Real Application Cluster производства Oracle.
        h5 Результат
        p Проектирование и внедрение проектных решений было успешно выполнено в 2014-м и 2015-м годах, соответственно.
    if modifier == 'article--service'
      h3.mb-10 Обследование и консалтинг
      .article__service
        .article__service-picture
          img.article__service-image(src="img/service-1.svg", alt="Picture")
        h6.font-weight-normal Грамотное Техническое задание обеспечивает половину успеха реализации вашего проекта.
      .article__content
        p Чем сложнее задача, тем больше в ней неопределённостей – технических, организационных и административных. Если вам необходимо разобраться в существующей ИТ-инфраструктуре; корректно, полно и неизбыточно сформулировать задачу внешнему или внутреннему исполнителю; проконтролировать результат выполнения – мы готовы помочь в этом и разделить ответственность за итоговый результат.
        p Мы не ориентированы на конкретных производителей, достигая этим максимального экономического эффекта и окупаемости затрат на привлеченную экспертизу.
        p Результатами оказания данной услуги могут быть:
        ul
          li Отчет об аудите – описание существующей ситуации
          li Техническое задание – система требований к целевой системе, включая цифровые и качественные параметры, проверяемые на приемо-сдаточных испытаниях
          li Отчет об экспертизе – результаты проверок объекта на предмет соответствия целевым требованиям
          li Документы, регламентирующие процессы управления жизненным циклом ИТ-активов
        p Профильные технологии:
        ul
          li Вычислительные платформы (серверы стандартной архитектуры, RISC-архитектуры)
          li Системы и сети хранения данных (SAN, NAS)
          li Сети передачи данных (LAN, WAN, WLAN)
          li Виртуализация (bare metal, VDI, storage, network)
          li Облачные платформы (IaaS, PaaS, SaaS)
          li Кластерные системы (HA, метро-, гео-)
          li Резервирование данных (backup, дедупликация, WAN-оптимизация)
          li Системное и служебное ПО (ОС, инфраструктура Microsoft, Linux)
          li Системы мониторинга и управления (SNMP, WMI, ITSM)
          li Базовые инфраструктурные сервисы (AD, DNS, DHCP)
          li Коммуникационные сервисы (VOiP, UC)
        h5 Примеры
        ul
          li 
            p ОАО Мосводоканал, г. Москва – в 2016 – 2017 гг. был разработан комплект документации, регулирующей политики организации в области ИТ-инфраструктуры, проведён аудит существующих процессов управления ИТ, проанализированы разрабатываемые технические задания и проектная документация.
              a.d-block.mt-15(href="#") Подробнее
          li 
            p ОАО Мосводоканал, г. Москва – в 2016 – 2017 гг. был разработан комплект документации, регулирующей политики организации в области ИТ-инфраструктуры, проведён аудит существующих процессов управления ИТ, проанализированы разрабатываемые технические задания и проектная документация.
              a.d-block.mt-15(href="#") Подробнее