mixin footer(modifier)
  .footer&attributes(attributes)
    .container
      .row
        .col-12
          .footer__content
            +logo.logo--footer
            +menu('menu--footer').menu--white
            a.footer__link(href="tel:84951233456") 8 495 108-61-56
            span.footer__address 3-я ул. Ямского Поля, 2к12 <br>Москва, 125124