.footer {
  background: #02557A;
  padding: 35px 0;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__address {
    color: #fff;
    font-size: 14px;
  }

  &__link {
    font-size: 23px;
    color: #67DAFF;
    transition: $transition-base;
    
    &:hover {
      color: #fff;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 25px;
    }
  }

  @include media-breakpoint-down(lg) {
    .menu {
      display: none;
    }
  }

}

.dit-banner-lg {
  padding-top: 30px;
  padding-bottom: 30px;

  @include media-breakpoint-down(sm) {
      display:none;
    }
}

.dit-banner-sm {
  padding-top: 30px;
  padding-bottom: 30px;

  @include media-breakpoint-up(md) {
      display:none;
    }

}
