.partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;

  &__item {
    margin-bottom: 30px;
    margin-right: 50px;
    align-self: center;
    max-width: 500px;
    max-height: 200px;

    @include media-breakpoint-down(sm) {
      max-width: 70px;
      margin-right: 25px;
    }
  }
}
