extends ../templates/template.pug
block content
  +header('header--about')
  +breadcrumbs('О компании')
  .container
    .row
      .col-lg-8
        .article
          .article__content
            h1 О компании
            h6.font-weight-normal Мы — команда инженеров. Проектируем, внедряем, поддерживаем вычислительные комплексы и корпоративные сети передачи данных с 2005-го года.
            p Наша команда придумывает, документирует и реализует решения по хранению, обработке и передачи данных в корпоративных средах. Для этого мы используем специализированное оборудование и программное обеспечение крупных мировых производителей, обеспечивающих высокое качество продукции благодаря десятилетиям опыта, обширной инсталляционной базе и пониманию меры ответственности, возлагаемой на информационные технологии бизнесом.
            blockquote
              h6.mb-0 Миссия —
              h6.font-weight-normal помогать бизнесу достигать цели с применением адаптивной ИТ-инфраструктуры и сокращать издержки на владение ей.
            p Ваша задача, даже если она сложна по техническим, организационным или административным причинам, будет решена быстро и качественно благодаря преимуществам наших инженеров:
            ul.ul--rounded
              li Более десяти лет опыта, более сотни реализованных проектов.
              li Профильное обучение и сертификация (более трёхсот дипломов и сертификатов) у более чем двадцати производителей, техническая база естественнонаучного высшего образования.
              li Компания построена на коротких административных процессах, это даёт инженерам мобильность и гибкость при сохранении технического фокуса задач.
              li Мы на практике обучены последовательности, аккуратности и точности при работе с высококритичными системами с высокой стоимостью простоя.
              li Длинные проектные циклы (от полугода) и большие бюджеты приводят нас к партнёрским отношениям с заказчиками с глубоким погружением в его внутренние процессы и проблемы, под которые мы с полной ответственностью подстраиваемся.
            p Ядро нашей команды собралось в 2005-м году. Затем нас становилось больше, и, сменив несколько работодателей, мы вышли на рынок как независимая компания. С 2015 года работаем под брендом DC (Data Centers) Engineering. За это время мы выполнили более 30 проектов — самые сложные из них, масштабные и уникальные для российского рынка, приведены в разделе Опыт. Наши сотрудники непрерывно учатся новому и повышают квалификацию на практике.
            p Мы оказываем полный цикл услуг — обследование и консалтинг, проектирование, поставку и внедрение, эксплуатацию и сопровождение технических решений.
  .bg-light.pt-30.pt-sm-70.pb-30.pb-sm-100
    .container
      .row
        .col-12.d-flex.flex-column.align-items-center.d-sm-block
          h2.mb-30.mb-sm-65 Наши партнёры
          +partners
  +footer