extends ../templates/template.pug
block content
  +header('header--main').header--white
  +front
  .container.my-0.my-sm-80
    .row
      .col-xl-3.d-flex.flex-column.align-items-center.d-sm-block
        h2
          a(href="projects.html") Проекты
        p С 2015 года мы выполнили более 30 проектов. Самые сложные, масштабные и уникальные для российского рынка, описаны в этом разделе.
      .col-xl-9
        .row.no-gutters
          .col-md-3.col-sm-6.d-flex
            +project-sm('project-1.png', 'Создание частного облака крупного российского банка', 'article--project--1')
          .col-md-3.col-sm-6.d-flex
            +project-sm('project-3.png', 'Технорабочее проектирование ЦОД Главгосэкспертизы', 'article--project--3').project-sm--light
          .col-md-3.col-sm-6.d-flex
            +project-sm('project-10.png', 'Проектирование и внедрение ЦОД в здании ОКО', 'article--project--10').project-sm--dark
          .col-md-3.col-sm-6.d-flex
            +project-sm('project-17.png', 'Проектирование и внедрение РЦОД страхового фонда', 'article--project--17')
  .bg-light.py-30.py-sm-80
    .container
      .row
        .col-xl-3.d-flex.flex-column.align-items-center.d-sm-block
          h2
            a(href="services.html") Услуги
          p Наша команда придумывает, документирует и реализует решения по хранению, обработке и передачи данных в корпоративных средах.
        .col-xl-9
          .row.no-gutters
            .col-md
              +service-sm('service-1.svg', 'Обследование и консалтинг', 'article--service--1')
            .col-md
              +service-sm('service-2.svg', 'Проектирование', 'article--service--2')
            .col-md
              +service-sm('service-3.svg', 'Поставка оборудования', 'article--service--3')
            .col-md
              +service-sm('service-4.svg', 'Внедрение', 'article--service--4')
            .col-md
              +service-sm('service-5.svg', 'Эксплуатация и сопровождение', 'article--service--5')
  +footer