extends ../templates/template.pug
block content
  +header('header--projects')
  +breadcrumbs('Проекты')
  .container.mt-20.mt-md-0
    .row
      .col-lg-8
        h1 Проекты
        h6.font-weight-normal Мы — команда инженеров. Проектируем, внедряем, поддерживаем вычислительные комплексы и корпоративные сети передачи данных с 2005-го года.

  +project('Создание частного облака Банка России', 'В сжатые сроки была разработана документация и выполнено внедрение центрального распределенного сегмента комплекса хранения обработки и передачи данных.', 'project-1.png', 'Центральный банк Российской Федерации', 'Москва, 2018', 'project-1.html')
  +project('Выполнение работ по модернизации аппаратно-программного комплекса серверной инфраструктуры', 'В рамках исполнения Государственного контракта выполнены работы по поставке, монтажу и пуско-наладке системы хранения данных БУЛАТ.', 'project-2.png', 'ГУП «Мосгортранс»', 'Москва, 2018', 'project-2.html')
  +project('Управление проектом построения информационно-технологической инфраструктуры РЦОД и КСИБ', 'Для повышения отказоустойчивости информационных систем Банка и удовлетворения требованиям информационной безопасности было принято решение организовать резервный центр обработки данных и комплексную систему информационной безопасности.', 'project-3.png', 'ЗАО «Татфондбанк»', 'Казань, 2014 – 2016', 'project-3.html')
  +project('Разработка рабочей документации и авторский надзор в рамках проекта по миграции информационной инфраструктуры банка', 'Был разработан комплект рабочей документации, включающей план миграции информационных систем, схемы размещения оборудования в целевом ЦОД и схемы коммутации.', 'project-4.png', 'ЗАО «Америабанк»', 'Ереван, Республика Армения, 2017', 'project-4.html').mb-40.mb-sm-70
  +footer
  +modal('modal--project')