extends ../templates/template.pug

block prepend head
  - var title = "Техническая поддержка резервного центра обработки данных"

block content
  +header('header--projects')
  +breadcrumbs('Проекты')
  .container
    .row
      .col-lg-8
        +article('article--project--16')
  +footer