extends ../templates/template.pug

block prepend head
  - var title = "Модернизация и конфигурирование системы резервного копирования распределенного ЦОД"

block content
  +header('header--projects')
  +breadcrumbs('Проекты')
  .container
    .row
      .col-lg-8
        +article('article--project--9')
  +footer