extends ../templates/template.pug

block prepend head
  - var title = "Экспертиза решений в части закупок средств вычислительной техники и программного обеспечения"

block content
  +header('header--projects')
  +breadcrumbs('Проекты')
  .container
    .row
      .col-lg-8
        +article('article--project--14')
  +footer