extends ../templates/template.pug
block content
  +header('header--projects')
  +breadcrumbs('Проекты')
  .container.mt-20.mt-md-0
    .row
      .col-lg-8
        h1 Проекты
        h6.font-weight-normal Мы — команда инженеров. Проектируем, внедряем, поддерживаем вычислительные комплексы и корпоративные сети передачи данных с 2005-го года.
  +project('Создание частного облака Банка России', 'project-1.png', 'Центральный банк Российской Федерации', 'Москва, 2018')
  +project('Выполнение работ по модернизации аппаратно-программного комплекса серверной инфраструктуры', 'project-2.png', 'ГУП «Мосгортранс»', 'Москва, 2018')
  +project('Разработка рабочей документации и авторский надзор в рамках проекта по миграции информационной инфраструктуры банка', 'project-3.png', 'ЗАО «Америабанк»', 'Ереван, Республика Армения, 2017')
  +project('Выполнение работ по модернизации аппаратно-программного комплекса серверной инфраструктуры', 'project-4.png', 'ГУП «Мосгортранс»', 'Москва, 2018').mb-40.mb-sm-70
  +footer
  +modal('modal--project')