extends ../templates/template.pug
block content
  +header('header--projects')
  +breadcrumbs('Проекты')
  .container.mt-20.mt-md-0
    .row
      .col-lg-8
        h1 Проекты
        h6.font-weight-normal Мы — команда инженеров. Проектируем, внедряем, поддерживаем вычислительные комплексы и корпоративные сети передачи данных с 2005-го года.

  +project('Техническая поддержка вычислительной инфраструктуры', 'Оказаны услуги по техническому обслуживанию вычислительной инфраструктуры, за год было устранено 34 инцидента, все в рамках договорных SLA.', '13-permmotor.png', 'ОДК «Авиадвигатель»', 'Пермь, 2020', '/')

  +project('Руководство модернизацией вычислительной инфраструктуры под ГИС', 'Выполнено техно-рабочее проектирование, разработан комплект документации в составе 12-ти документов.', 'rtc-it.png', 'РТК Цифровые технологии', 'Москва, 2020', '/')
  
  +project('Модернизация корпоративной вычислительной сети', 'Создана универсальная, производительная и отказоустойчивая сетевая инфраструктура.', 'logotip-fss.png', 'Фонд социального страхования Российской Федерации', 'Москва, 2019', '/')

  +project('Проектирование инфраструктуры РЦОД', 'Выполнено техно-рабочее проектирование, разработана пояснительная записка, схемы подключения оборудования, программа и методика испытаний.', 'project-1.png', 'Коммерческий банк', 'Москва, 2019', '/')

  +project('Техническая поддержка вычислительной инфраструктуры', 'Оказаны услуги по техническому обслуживанию вычислительной инфраструктуры, за год было устранено 25 инцидентов, все в рамках договорных SLA.', '11-mediascope.png', 'Медиаскоп', 'Москва, 2019 – 2020', '/')

  //////////////////////

  +project('Создание частного облака крупного российского банка', 'В сжатые сроки была разработана документация и выполнено внедрение центрального распределенного сегмента комплекса хранения обработки и передачи данных.', 'project-1.png', 'Крупный банк Российской Федерации', 'Москва, 2018', 'project-1.html')

  +project('Обеспечение эксплуатации центрального комплекса системы медицинского страхования', 'Работы по организационно-техническому обеспечению эксплуатации центрального аппаратно-программного комплекса автоматизированной информационной системы в сфере медицинского страхования.', 'project-2.png', 'Медицинский страховой фонд', 'Москва, 2016 – 2019', 'project-2.html')

  +project('Разработка рабочей документации для создания вычислительной инфраструктуры ЦОД', 'Разработан техно-рабочий проект на создание вычислительной инфраструктуры ЦОД согласно комплексу стандартов ГОСТ 34.', 'project-3.png', 'ФАУ Главгосэкспертиза России', 'Москва, 2018', 'project-3.html')

  +project('Создание резервного распределенного центра обработки данных', 'Проведен аудит существующей инфраструктуры заказчика, выполнен анализ возможных подходов к созданию ЦОД и вариантов технологического наполнения, при этом выбраны наиболее оптимальные с точки зрения сохранения инвестиций решения построения ЦОД позволяющие обеспечить практически бесшовный переход к целевой инфраструктуре.', 'project-4.png', 'ООО «ИНВИТРО»', 'Москва, 2018', 'project-4.html')

  +project('Выполнение работ по модернизации аппаратно-программного комплекса серверной инфраструктуры', 'В рамках исполнения Государственного контракта выполнены работы по поставке, монтажу и пуско-наладке системы хранения данных БУЛАТ.', 'project-5.png', 'ГУП «Мосгортранс»', 'Москва, 2018', 'project-5.html')


  +project('Развитие корпоративной вычислительной сети и IP-телефонии в комплексе административных зданий', 'В рамках работ была выполнена поставка оборудования, модернизация существующей локальной вычислительной сети, структурированной кабельной сети, телефонии, а также разработана рабочая документация на систему.', 'project-6.png', 'Водная компания', 'Москва, 2017', 'project-6.html')

  +project('Создание надежной и высокопроизводительной корпоративной сети в здании заказчика', 'Поставка оборудования и выполнение работ по планированию, а также монтажных, коммутационных и пуско-наладочных работ по внедрению оборудования для организации корпоративной вычислительной сети.', 'project-7.png', 'Федеральное экспертное учреждение в области строительства', 'Москва, 2017', 'project-7.html')


  +project('Разработка рабочей документации и авторский надзор в рамках проекта по миграции информационной инфраструктуры банка', 'Был разработан комплект рабочей документации, включающей план миграции информационных систем, схемы размещения оборудования в целевом ЦОД и схемы коммутации.', 'project-8.png', 'ЗАО «Америабанк»', 'Ереван, Республика Армения, 2017', 'project-8.html')

  +project('Модернизация и конфигурирование системы резервного копирования распределенного ЦОД', 'В следствие увеличения количества корпоративных информационных систем и роста объема данных возникла необходимость масштабирования существующей распределенной системы хранения данных заказчика.', 'project-9.png', 'Водная компания', 'Москва, 2017', 'project-9.html')

  +project('Проектирование, разработка рабочей документации и внедрение ЦОД в здании ОКО', 'Спроектирована и внедрена комплексная информационно-технологическая инфраструктура, учитывающая особенности реализации существующих информационных систем каждого структурного подразделения. Разработана рабочая документация на информационно-технологическую инфраструктуру ЦОД ОКО.', 'project-10.png', 'Правительство Москвы', 'Москва, 2016 – 2017', 'project-10.html')

  +project('Техническое обслуживание сетевого хранилища', 'Оказаны услуги по техническому обслуживанию сетевого хранилища, в рамках оказания услуги заказчику предоставлялась ежеквартальная отчетность с указанием подробной информации о выполненных в рамках отчетного периода работах.', 'project-11.png', 'ГБУ Финансово-хозяйственное управление Мэрии Москвы', 'Москва, 2016 – 2017', 'project-11.html')

  +project('Технологическая экспертиза проектов развития ИТ-инфраструктуры', 'Обеспечена корреляция ИТ-проектов ИТ-политике и фактическим потребностям заказчика. Исключено дублирование реализации потребностей в рамках проектов различных подразделений и систем.', 'project-12.png', 'Водная компания', 'Москва, 2016 – 2017', 'project-12.html')

  +project('Реализация архивного хранения баз данных', 'На базе геораспеделенной катастрофоустойчивой ИТ-инфраструктуры Заказчика, создано архивное хранилище баз данных, полностью соответствующее требованиям регулятора.', 'project-13.png', 'АО «НПФ Сбербанка»', 'Москва, 2016', 'project-13.html')

  // скрытый контент
  //- 
    +project('Экспертиза решений в части закупок средств вычислительной техники и программного обеспечения', 'В 2015-м году были оказаны 4 вида услуг, в ходе которых проанализировано и оптимизировано 280 заявок на закупку средств вычислительной техники и программного обеспечения, экономия средств заказчика составила более 200 млн. руб.', 'project-14.png', 'Департамент информационных технологий', 'Москва, 2015 – 2016', 'project-14.html')


  +project('Управление проектом построения информационно-технологической инфраструктуры РЦОД и КСИБ', 'Для повышения отказоустойчивости информационных систем Банка и удовлетворения требованиям информационной безопасности было принято решение организовать резервный центр обработки данных и комплексную систему информационной безопасности.', 'project-15.png', 'ЗАО «Татфондбанк»', 'Казань, 2014 – 2016', 'project-15.html')

  +project('Техническая поддержка резервного центра обработки данных', 'В 2014-м году был построен резервный центр обработки данных, обеспечивающий катастрофоустойчивость информационных систем заказчика.', 'project-16.png', 'Водная компания', 'Москва, 2014 – 2016', 'project-16.html')

  +project('Проектирование и внедрение распределённого центра обработки данных', 'Был спроектирован РЦОД с распределённым хранением данных в режиме active-active с распределённой СУБД Oracle средствами RAC (Real Application Cluster).', 'project-17.png', 'Медицинский страховой фонд', 'Москва, 2014 – 2015', 'project-17.html').mb-40.mb-sm-70

  +footer
  +modal('modal--project')