extends ../templates/template.pug

block prepend head
  - var title = "Создание резервного распределенного центра обработки данных"

block content
  +header('header--projects')
  +breadcrumbs('Проекты')
  .container
    .row
      .col-lg-8
        +article('article--project--4')
  +footer