extends ../templates/template.pug

block prepend head
  - var title = "Технологическая экспертиза проектов развития ИТ-инфраструктуры"

block content
  +header('header--projects')
  +breadcrumbs('Проекты')
  .container
    .row
      .col-lg-8
        +article('article--project--12')
  +footer