extends ../templates/template.pug

block prepend head
  - var title = "Техническое обслуживание сетевого хранилища"

block content
  +header('header--projects')
  +breadcrumbs('Проекты')
  .container
    .row
      .col-lg-8
        +article('article--project--11')
  +footer