extends ../templates/template.pug

block prepend head
  - var title = "Обеспечение эксплуатации центрального комплекса системы медицинского страхования"

block content
  +header('header--projects')
  +breadcrumbs('Проекты')
  .container
    .row
      .col-lg-8
        +article('article--project--2')
  +footer