extends ../templates/template.pug

block prepend head
  - var title = "Руководство модернизацией вычислительной инфраструктуры под ГИС"

block content
  +header('header--projects')
  +breadcrumbs('Проекты')
  .container
    .row
      .col-lg-8
        +article('article--project--21')
  +footer