extends ../templates/template.pug

block prepend head
  - var title = "Разработка рабочей документации и авторский надзор в рамках проекта по миграции информационной инфраструктуры банка"

block content
  +header('header--projects')
  +breadcrumbs('Проекты')
  .container
    .row
      .col-lg-8
        +article('article--project--8')
  +footer