extends ../templates/template.pug

block prepend head
  - var title = "Выполнение работ по модернизации аппаратно-программного комплекса серверной инфраструктуры"

block content
  +header('header--projects')
  +breadcrumbs('Проекты')
  .container
    .row
      .col-lg-8
        +article('article--project--5')
  +footer