extends ../templates/template.pug

block prepend head
  - var title = "Управление проектом построения информационно-технологической инфраструктуры РЦОД и КСИБ"

block content
  +header('header--projects')
  +breadcrumbs('Проекты')
  .container
    .row
      .col-lg-8
        +article('article--project--15')
  +footer