extends ../templates/template.pug

block prepend head
  - var title = "Реализация архивного хранения баз данных"

block content
  +header('header--projects')
  +breadcrumbs('Проекты')
  .container
    .row
      .col-lg-8
        +article('article--project--13')
  +footer