extends ../templates/template.pug

block prepend head
  - var title = "Разработка рабочей документации для создания вычислительной инфраструктуры ЦОД"

block content
  +header('header--projects')
  +breadcrumbs('Проекты')
  .container
    .row
      .col-lg-8
        +article('article--project--3')
  +footer