extends ../templates/template.pug

block prepend head
  - var title = "Услуги"

block content
  +header('header--services')
  +breadcrumbs('Услуги')
  .container.pt-25.pt-sm-0
    .row
      .col-lg-8
        h1 Услуги
        h6.d-none.d-sm-block.font-weight-normal Выявим проблемные места в инфраструктуре, предложим варианты решений, опишем их бизнесу на понятном языке. Спроектируем, доставим и внедрим. Поможем с сопровождением и эксплуатацией.
        h5.d-sm-none.font-weight-normal.mb-20 Выявим проблемные места в инфраструктуре, предложим варианты решений, опишем их бизнесу на понятном языке. Спроектируем, доставим и внедрим. Поможем с сопровождением и эксплуатацией.

  +service('Обследование и консалтинг', 'service-1.svg', 'Поможем с постановкой целей и задач, согласуем их между бенефициарами и исполнителями проекта. Доработаем необходимые документы. Сэкономим ваши время и деньги на внедрение и эксплуатацию.', 'service-audit-and-consulting.html')

  +service('Проектирование', 'service-2.svg', 'Проработаем каждое решение до внедрения. Опишем десятки стыков, сотни параметров, тысячи настроек, чтобы вы получили комплекс оборудования и ПО, работающий без сюрпризов в конкретном окружении.', 'service-engineering.html')

  +service('Поставка оборудования и ПО', 'service-3.svg', 'Создадим конкурентную ситуацию для производителей и поставщиков, так как не зависим от них и не имеем обязательств и предпочтений. Поставка будет быстрой, дешевой и легальной.', 'service-equipment-supplies.html')

  +service('Внедрение', 'service-4.svg', 'Выделим профильных инженеров. Настроим всё согласно проекту. Проконтролируем целевые параметры на приёмочных испытаниях. Выявленные несоответствия устраним за свой счёт.', 'service-implementation.html')

  +service('Эксплуатация и сопровождение', 'service-5.svg', 'Разработаем и согласуем SLA. Организуем трёхуровневую поддержку. Поможем с эксплуатацией. Настроим работу с производителями.', 'service-operation-and-maintenance.html').mb-20.mb-sm-0

  +footer
  +modal('modal--service')
