extends ../templates/template.pug

block prepend head
  - var title = "Поставка оборудования и ПО"

block content
  +header('header--services')
  +breadcrumbs('Услуги')
  .container
    .row
      .col-lg-8
        +article('article--service--3')
  +footer