extends ../templates/template.pug
block content
  +header('header--services')
  +breadcrumbs('Услуги')
  .container.pt-25.pt-sm-0
    .row
      .col-lg-8
        h1 Услуги
        h6.d-none.d-sm-block.font-weight-normal Если вам необходимо разобраться в существующей ИТ-инфраструктуре; корректно, полно и неизбыточно сформулировать задачу внешнему или внутреннему исполнителю; проконтролировать результат выполнения — мы готовы помочь и разделить ответственность за итоговый результат.
        h5.d-sm-none.font-weight-normal.mb-20 Мы готовы помочь и разделить ответственность за итоговый результат.

  +service('Обследование и консалтинг', 'service-1.svg', 'Мы не ориентированы на конкретных производителей, достигая этим максимального экономического эффекта и окупаемости затрат на привлеченную экспертизу.', 'service-audit-and-consulting.html')

  +service('Проектирование', 'service-2.svg', 'Чтобы вы внедрили техническое решение быстро и безболезненно, смогли легко его эксплуатировать и развивать с минимальными рисками на всех этапах жизненного цикла, оно должно быть хорошо продумано.', 'service-engineering.html')

  +service('Поставка оборудования и ПО', 'service-3.svg', 'Максимальную эффективность использования средств при закупке программно-технических средств вы достигнете только при прозрачных и состязательных закупочных процедурах.', 'service-equipment-supplies.html')

  +service('Внедрение', 'service-4.svg', 'Высокое качество внедрения вам обеспечат двойной контроль в виде предварительных и приемочных испытаний, а также опытная эксплуатация между ними.', 'service-implementation.html')

  +service('Эксплуатация и сопровождение', 'service-5.svg', 'Отлаженные процессы, эксплуатационная документация и квалифицированные ресурсы являются залогом непрерывной эксплуатации технических решений.', 'service-operation-and-maintenance.html').mb-20.mb-sm-0

  +footer
  +modal('modal--service')
