mixin front(modifier)
  .front&attributes(attributes)

    .front__item
      .front__item-inner(style="background-image: url(./img/front1-bg.jpg)")
        .container
          .row
            .col-12
              .front__wrapper
                .front__info
                  .front__info-item
                    span.front__info-item-number 1480
                    span.front__info-item-header Серверов
                  .front__info-item
                    span.front__info-item-number 370 ПБ
                    span.front__info-item-header Суммарная емкость
                  .front__info-item
                    span.front__info-item-number $250M
                    span.front__info-item-header Бюджет проекта
                .front__content
                  img(src="./img/icon-network-blue.svg", alt="").front__content-icon
                  .front__content-text
                    p.front__type Проект
                    a.front__header(href="project-1.html") Создание частного облака Банка России
                    a.front__link(href="project-1.html") Подробнее о проекте
 
    .front__item
      .front__item-inner(style="background-image: url(./img/front2-bg.jpg)")
        .container
          .row
            .col-12
              .front__wrapper
                .front__info
                  .front__info-item
                    span.front__info-item-number 123
                    span.front__info-item-header Серверов
                  .front__info-item
                    span.front__info-item-number 151 ТБ
                    span.front__info-item-header Суммарная емкость
                  .front__info-item
                    span.front__info-item-number $50M
                    span.front__info-item-header Бюджет проекта
                .front__content
                  img(src="./img/icon-network-blue.svg", alt="").front__content-icon
                  .front__content-text
                    p.front__type Проект
                    a.front__header(href="project-2.html") Модернизация серверной инфраструктуры Мосгортранса
                    a.front__link(href="project-2.html") Подробнее о проекте
 

