.service-sm {
  max-width: 148px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;

  @include media-breakpoint-down(md) {
    margin-left: auto;
    margin-right: auto;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 40px;
    max-width: 200px;
  }
  
  &:hover {
    
    .service-sm__image {
      opacity: .7;
    }
    
    .service-sm__title {
      text-decoration: none;
    }
  }

  &__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 128px;
    transition: $transition-base;
  }

  &__title {
    font-size: 18px;
    line-height: 24px;
    padding-left: 15px;
    text-decoration: underline;

    @include media-breakpoint-down(lg) {
      font-size: 16px;
      line-height: 22px;
      padding-left: 0;
      text-align: center;
    }

    @include media-breakpoint-down(md) {
      font-size: 14px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
  }
}
