mixin service-sm(picture, title, modifier)
  a.service-sm(href="service.html")&attributes(attributes)
    .service-sm__picture
      img.service-sm__image(src="img/" + picture, alt="Picture")
      p.service-sm__title= title