mixin menu(modifier)
  .menu&attributes(attributes)
    if modifier == 'menu--footer'
    else
      a.menu__btn(href="#")
        span
    .menu__content
      if modifier == 'menu--about'
        a.menu__link.menu__link--active(href="about.html") О компании
      else
        a.menu__link(href="about.html") О компании
      if modifier == 'menu--services'
        a.menu__link.menu__link--active(href="services.html") Услуги
      else
        a.menu__link(href="services.html") Услуги
      if modifier == 'menu--projects'
        a.menu__link.menu__link--active(href="projects.html") Проекты
      else
        a.menu__link(href="projects.html") Проекты
      if modifier == 'menu--clients'
        a.menu__link.menu__link--active(href="clients.html") Заказчики
      else
        a.menu__link(href="clients.html") Заказчики
      if modifier == 'menu--careers'
        a.menu__link.menu__link--active(href="careers.html") Карьера
      else
        a.menu__link(href="careers.html") Карьера
      if modifier == 'menu--contacts'
        a.menu__link.menu__link--active(href="contacts.html") Контакты
      else
        a.menu__link(href="contacts.html") Контакты
      .menu__phone(href="tel:84951233456") 8 495 123-34-56