.clients {
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-wrap: wrap;


  &__item {
    margin-bottom: 20px;
    margin-right: 40px;
    padding:10px;
    align-self: center;
    width: 200px;
    height: 230px;
    //border: 1px red solid;
    text-align: center;

    @include media-breakpoint-down(sm) {
      max-width: 200px;
      margin-right: 25px;
    }
  }
  &__item img {
    
    width: 160px;
    height: 160px;
  }
  &__item h4.client_name {
    font-size: 21px;
    line-height: 24px;
    text-align: center;
  } 

}
